:root {
    --main-color: #F5FCF9;
    --second-color: #228B65;
    --text-color: #ffd6d2;
}

body {
    box-sizing: border-box;
    background-color: var(--main-color);
}

.wrapper {
    margin: 20px auto;
}

.header {
    display: flex;
}

main {
    width: 100%;
}

footer {
    width: 100%;
}