:root {
  --main-color: #F5FCF9;
  --second-color: #228B65;
  --text-color: #ffd6d2;
}

body {
  box-sizing: border-box;
  background-color: var(--main-color);
}

.wrapper {
    display: block;
    margin: 20px auto;
}

.about-me {
    display: flex;
}

.nav > ul {
    display: flex;
    justify-content: space-around;
}

main {
    width: 100%;
}

footer {
    width: 100%;
}

.nav > ul > li {
    display: inline-block;
}
